node_modules
build
coverage
src/services/hasura/index.ts
public
.github
global.d.ts
.vscode
__generated-*__.json
scripts/depcruise-temp/final.json
scripts/depcruise-strict/final.json

**/__generated__/*-types.ts
**/__generated__/*/*-types.ts
**/services/*/*-types.ts
**/schema.graphql

**/src/squads/*/__generated__/*/*-types.ts
**/squads/*/service/*/*-types.ts

**/squads/*/domains/*/services/**/*-types.ts
**/src/squads/*/domains/*/__generated__/*/*-types.ts

src/__generated__/schema/*

src/__generated__/*/log.json
**/src/squads/*/domains/*/__generated__/*/log.json


**/__generated__/schema/*.json
**/.cache
